BOILERPLATE_PRIMARY.ENV="local"

BOILERPLATE_SERVER.PORT="8080"
BOILERPLATE_SERVER.READ_TIMEOUT="30"
BOILERPLATE_SERVER.WRITE_TIMEOUT="30"
BOILERPLATE_SERVER.IDLE_TIMEOUT="60"
BOILERPLATE_SERVER.CORS_ALLOWED_ORIGINS="http://localhost:3000"
